.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
docs/analysis/sa1.*
analysis/sa1.*
data
code/.R*
/.quarto/
