.highlights {
 background-color: #cfcfcf;
 font-weight: 500;
 border-radius: .33rem;
 margin-top: -18px !important;
}

.highlights h1 {
  margin-bottom: 1em;
  margin-left: 0.25em;
}

label, select {
  font-size: 11px !important;
}
